.EmotionContainer {
    display: flex;
    flex-direction: column;
    flex-grow: 3;
    background-color: white;
}

.EmotionContainer-top {
    display: flex;
    align-self: end;
    margin-right: 16px;
    flex-grow: 1;
}

.EmotionContainer-center {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-grow: 3;
}

.EmotionContainer-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 2;
}