.EmotionContainer {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-grow: 1;
}

.EmotionContainer-timer {
    display: flex;
    align-self: end;
    margin-right: 16px;
}